<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weaver.mapper.HistoryMsgRecentlyMapper" >
    <resultMap id="BaseResultMap" type="com.weaver.pojo.HistoryMsgRecently" >
        <!--
          WARNING - @mbg.generated
        -->
        <result column="fromUserId" property="fromUserId" jdbcType="VARCHAR" />
        <result column="targetId" property="targetId" jdbcType="VARCHAR" />
        <result column="targetType" property="targetType" jdbcType="VARCHAR" />
        <result column="GroupId" property="GroupId" jdbcType="VARCHAR" />
        <result column="classname" property="classname" jdbcType="INTEGER" />
        <result column="extra" property="extra" jdbcType="VARCHAR" />
        <result column="imageUri" property="imageUri" jdbcType="VARCHAR" />
        <result column="dateTime" property="dateTime" jdbcType="VARCHAR" />
        <result column="msgId" property="msgId" jdbcType="VARCHAR" />
        <result column="msgContent" property="msgContent" jdbcType="VARCHAR" />
        <result column="fullAmount" property="fullAmount" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insertHistoryMsg" parameterType = "com.weaver.pojo.HistoryMsgRecently" >
        insert into HistoryMsgRecently
        (fromUserId,targetId,targetType,GroupId,classname,extra,imageUri,dateTime,msgid,msgContent,fullAmount)
        values (#{historyMsg.fromUserId},#{historyMsg.targetId},
        #{historyMsgRecently.targetType},
        #{historyMsgRecently.GroupId},
        #{historyMsgRecently.classname},
        #{historyMsgRecently.extra},
        #{historyMsgRecently.imageUri},
        #{historyMsgRecently.dateTime},
        #{historyMsgRecently.msgId},
        #{historyMsgRecently.msgContent},
        #{historyMsgRecently.fullAmount})
    </insert>
</mapper>