<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weaver.mapper.SocialHistoryRightMsgMapper" >
    <resultMap id="BaseResultMap" type="com.weaver.pojo.SocialHistoryMsgRight" >
        <!--
          WARNING - @mbg.generated
        -->
        <result column="userid" property="userid" jdbcType="VARCHAR" />
        <result column="msgid" property="msgid" jdbcType="VARCHAR" />

    </resultMap>

    <insert id="insertHistoryMsgRightBatch" parameterType = "com.weaver.pojo.SocialHistoryMsgRight" >

        insert into Social_historyMsgRight (userId, msgId) values
        <foreach collection="list" item="historyMsg" separator=",">
            (#{historyMsg.userid},#{historyMsg.msgId})
        </foreach>
    </insert>

</mapper>